<html>
	<h1>bienvenue!</h1>
</html>
<html>
	<p> comment ça va? c'est mon blog. c'est trés bonne, non? je m'appelle audrey. j'ecoute les heathers aujourd'hui. J'aime le dessien. :) </p>
</html>
	<head>
		<title>Audrey's blog</title>
	</head>
</html>
<html>
	{% for post in posts %}
		<div>
			<p>published: {{ post.published_date }}</p>
			<h1><a href="">{{ post.title }} </a> </h1>
			<p> {{ post.text|linebreaksbr }}</p>
		</div>
	{% endfor %}
</html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">